<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
</head>

<body>
    <div id="app" class="container is-max-desktop">
        <section class="section has-background-primary">
            <div class="container">
                <div class="is-vcentered columns is-multiline">
                    <div class="column is-6 mx-auto">
                        <div class="mx-auto box p-6 has-background-light has-text-centered">
                            <h4 class="is-size-5 mb-2 has-text-weight-bold">Forbidden Page</h4>
                            <p class="mb-4">
                                <%- (!user?'<a href="/login" class="button is-primary">Need Login</a>':'<a href="/logout" class="button is-primary">Logout as '+user.name+'</a>') %>   
                            </p>
                            <p>Sorry, You don't have an access!</p>
                            <br>
                            <a href="/" class="button is-primary">Back To Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</html>